div#background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: url(/img/background.jpg) no-repeat center center fixed;
  opacity: 0.2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 700;
  width: 600px;
  margin: auto;
  margin-top: 15%;
}

h3.header {
  display: inline-block;
  font-size: 130%;
  margin-left: 190px;
  margin-bottom: 0px;
  margin-top: 0px;
}
div.about-me {
  display: inline-block;
  margin-left: 190px;
  width: 400px;
  line-height: 20px;
  font-size: 16px;
}

img.headshot {
  position: fixed;
  display: inline-block;
  margin-right: 10px;
  width: 180px;
}

div#footer {
  width: 600px;
  margin-top: 15%;
  bottom: 0px;
  color: #777;
  text-align: center;
}
div#footer p{
  text-align: center;
}

a.icon {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: right;
}

a.icon.github {
  background-image: url(/img/icon_github.png);
}

a.icon.tumblr {
  background-image: url(/img/icon_tumblr.png);
}

a.icon.flickr {
  background-image: url(/img/icon_flickr.png);
}

a.icon.intercom {
  background-image: url(/img/icon_intercom.png);
}

a.icon.twitter {
  background-image: url(/img/icon_twitter.png);
}
